# Week 11 quiz solution: pandas

In [1]:
import pandas as pd

In [2]:
filepath = "enso_data.csv"
df = pd.read_csv(filepath)

In [3]:
df = pd.read_csv(filepath, index_col=0, parse_dates=True)
df_enso=df.tail(5)
df_enso = df_enso[['Nino12','Nino3','Nino4']]

## Given the following DataFrame:

In [4]:
df_enso

            Nino12  Nino3  Nino4
datetime
2020-12-01   22.16  24.38  27.65
2021-01-01   23.89  25.06  27.10
2021-02-01   25.55  25.80  27.20
2021-03-01   26.48  26.80  27.79
2021-04-01   24.89  26.96  28.47

Write down the numerical values that would be printed for each of the following statements:

In [5]:
df_enso.loc['2021-02-01']

Nino12    25.55
Nino3     25.80
Nino4     27.20
Name: 2021-02-01 00:00:00, dtype: float64

In [6]:
df_enso['Nino3']['2021-03-01']

26.8

In [7]:
df_enso.columns

Index(['Nino12', 'Nino3', 'Nino4'], dtype='object')

In [8]:
df_enso.iloc[4,2]

28.47